/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 50px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -80px;
    
}

    .page-wrap:after {
        content: "";
        display: block;
    }

    .site-footer, .page-wrap:after {
        height: 60px;
    }

.site-footer {
    background: cadetblue;
    position: fixed;
    width: 100%;
    z-index: 2;
    border-top: black solid 1px;
}

.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    color: white;
    text-align: center;
    border-top: black solid 1px;
    z-index: 1;
}

.footer, .page-wrap:after {
    height: 80px;
}

.navbar {
    background:cadetblue;
}

.hr-2 {
    height: 2px;
    color: black;
}

.card {
    border: 2px solid black;
    border-radius: 3px;
    height: 200px;
}

.card-body {
    margin: 10px;
}

.card-header {
    margin: 10px;
}

.diary-wrapper {
    border-style:double;
    border: black dotted 2px;
    padding: 20px;
    margin: 45px;
    background-color: lightgray;
    height: 50%
}



