@{
    ViewData["Title"] = "Home Page";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="/Diary/Index">
                <img src="~/images/diary.jpg" alt="Your Diary" class="img-responsive center-block" />
            </a>
            <div class="carousel-caption" role="option">
                <p>
                    Log your meals and view various statistics about your eating habits.
                </p>
            </div>
        </div>
        <div class="item">
            <a href="/Publishing/Index">
                <img src="~/images/articles.jpg" alt="Articles" class="img-responsive" />
            </a>
            <div class="carousel-caption" role="option">
                <p>
                    Read articles on various topics related to nutrition, health and well-being.
                </p>
            </div>
        </div>
        <div class="item">
            <a href="/Knowledge/Index">
                <img src="~/images/knowledge.jpg" alt="Knowledge Base" class="img-responsive" />
            </a>
            <div class="carousel-caption" role="option">
                <p>
                    Get to know your food better by browsing our knowledge base for food itself.
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container">
    <div class="row">
        <h2 class="col-md-offset-5 col-md-4">Welcome to Foody...</h2>
    </div>
    <div class="row">
        <h3 class="col-md-offset-4 col-md-6">The site is separated into the following 3 main sections:</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-center">Diary</h2>
            <ul>
                    <li style="margin-top: 20px"><b>Available to logged users..</b></li>
                    <li style="margin-top: 20px"><b>Log information for your every meal, using recipes or single food items..</b></li>
                    <li style="margin-top: 20px"><b>See statistics about your diet for a certain period..</b></li>
                    <li style="margin-top: 20px"><b>Set a goal and get recommendations about how to reach it.. (coming soon)</b></li>
                    <li style="margin-top: 20px"><b>Log your physical activity and training activities and see if it matches your diet and goals.. (coming soon)</b></li>
                    <li style="margin-top: 20px"><b>Feel free to share your expectations about the further development of this tool..</b></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Articles</h2>
            <ul>
                <li style="margin-top: 20px"><b>Read various articles about the latest findings in the world of nutrition and well-being..</b></li>
                <li style="margin-top: 20px"><b>Engage in discussions with other users in the comment section..</b></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">Knowledge Base</h2>
            <ul>
                <li style="margin-top: 20px"><b>As with other other thing, to be effective in your care for your body and mind, you need information. Here you can find everything you need...</b></li>
                <li style="margin-top: 20px"><b>Please let us know if you find anything important missing..</b></li>
            </ul>
        </div>
    </div>
</div>