@model Foody.Services.DataServices.Models.Articles.MyArticleViewModel
@{
    ViewData["Title"] = "My Article";
}

<div class="container">
    <h2>@Model.Title</h2>

    <hr class="hr-2" />

    <p><span class="glyphicon glyphicon-time"></span> Posted on: @Model.PostedOn.ToString("g")</p>

    @if (Model.ApprovedOn != null)
    {
        <p>Approved on: @Model.ApprovedOn.Value.ToString("g")</p>
    }

    <hr class="hr-2" />

    <img src="/Images/Get/location?location=@Model.ImageLocation" class="img-responsive center-block" alt="image not available">

    <hr class="hr-2" />

    <p>@Model.Content</p>

    <hr class="hr-2" />

    <a href="/Administration/Articles/@Model.SourceMethodName?currentPage=@(Model.CurrentPage)&initialOpen=false" class="btn btn-danger text-center" role="button">Back</a>
</div>