@using Microsoft.AspNetCore.Routing
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Foody.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.css" />
        <link rel="stylesheet" href="~/css/simple-sidebar.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="page-wrap">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div style="margin-left: 100px; margin-right: 100px">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @if (this.Context.Request.Path.Value.Contains("Menu") || this.Context.Response.ToString().Contains("sidebar-nav"))
                    {
                        <a href="#menu-toggle" class="btn navbar-btn" id="menu-toggle">Toggle Menu</a>
                    }
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Foody</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav" style="color: black">
                        <li><a asp-area="" asp-controller="Diary" asp-action="Index">Diary</a></li>
                        @if (this.User.IsInRole("Super-admin") || this.User.IsInRole("Admin"))
                        {
                            <li><a href="/Administration/Sections/Index">Administration</a></li>
                        }
                        <li><a asp-area="" asp-controller="Publishing" asp-action="Index">Articles</a></li>
                        <li><a asp-area="" asp-controller="Knowledge" asp-action="Index">Knowledge Base</a></li>
                    </ul>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>

        <partial name="_CookieConsentPartial" />

        <div>
            @RenderBody()
        </div>
    </div>

<footer class="footer">
    <div class="row" style="margin-top: 15px">
        <a asp-area="" asp-controller="Home" asp-action="About" class="col-md-offset-3 col-md-2" style="color: black">About</a>
        <a asp-area="" asp-controller="Home" asp-action="Contact" class="col-md-2" style="color: black">Contact</a>
        <a asp-area="" asp-controller="Home" asp-action="Privacy" class="col-md-2" style="color: black">Privacy Policy</a>
    </div>
    <p style="color: black; margin-top: 15px">2018 - Foody &copy; by pwnd0rum</p>
</footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
